<br>
<div class="container marginTop">
    <h2>Lista de Materias</h2><br>
    <div class="my-2 text-left">
        <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/materia/form']" *ngIf="authService.hasRole('ROLE_ADMIN')">
      Crear materia
    </button>
    </div><br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN')">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dia</th>
                <th scope="col">Cupos</th>
                <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN')">Fecha de Creacion</th>
                <th scope="col">Detalle</th>
                <th scope="col" *ngIf="authService.hasRole('ROLE_USER')">Inscripcion</th>
                <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                <th scope="col" *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materia of listaMaterias">
                <th scope="row" *ngIf="authService.hasRole('ROLE_ADMIN')">{{materia.id}}</th>
                <td>{{materia.nombre}}</td>
                <td>{{materia.diaSemana}}</td>
                <td>{{materia.max_alum}}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">{{materia.create_at | date}}</td>
                <td>
                    <button name="Descripcion" class="btn btn-sm btn-success" type="button" [routerLink]="['/materia/detalle', materia.id]">
                    Ver Detalle
                    </button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_USER')">
                    <button name="Inscribir" class="btn btn-sm btn-success" type="button" [routerLink]="['/materia/inscripcion', materia.id]">
                      Inscribir
                    </button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button name="modificar" class="btn btn-sm btn-success" type="button" [routerLink]="['/materia/form', materia.id]">
                    Modificar
                  </button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button name="eliminar" class="btn btn-sm btn-danger" type="button" (click)="delete(materia)" *ngIf="authService.hasRole('ROLE_ADMIN')">
                    Eliminar
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>